
/* General styles */

body {
    min-width: 1000px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #1f2022;
    background-color: #E5E5E5;
}

.container {
    width: 980px;
    margin: 0 auto;
    padding: 0 10px;
}

.border-bottom {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    border-color: #d1d5da;
}

/* Main header */

header {
  position: relative;
  height: 35%;
  background-color: #0052A0;
  margin-top: -2%;
}

h1 {
  padding: 100px 0;
  font: 44px "Arial";
  text-align: center;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
}
/* Second header */

.second-head {
    text-align: justify;
    letter-spacing: 1px;
    height: 120px;
    padding: 5px;
    color: #000000;
    font-family: Arial, sans-serif;
}

.head-img {
  display:inline-block;
  margin: -9%;
  background-color: #fff;
  clip-path: polygon(0 0,100% 0,100% 86%,0 100%);
  padding: 4% 3% 6%;
}

.head-ul {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    list-style: none;
}

.head-ul li {
    display: inline-block;
    margin-left: 25px;
    vertical-align: middle;
    font-size: 18px;
    line-height: 20px;
}

.head-nav {
    display: block;
    float: right;
    padding-top: 50px;
}

.head-nav a {
  color: #1f2022;
  text-decoration: none;
  color: white;
  font-size: 140%;
}

.head-nav a:hover {
    text-decoration: underline;
}

.head-nav a:active {
    text-decoration: none;
    opacity: 0.3;
}

/* Footer */

.main-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #002b72;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
}

.footer-top::after {
    display: table;
    clear: both;
    content: "";
}

.copyright {
    float: left;
    width: 250px;
    height: 40px;
    margin-right: 40px;
}

.footer-social-promo {
    float: left;
    width: 380px;
}

.footer-social {
    float: right;
    width: 260px;
    height: 50;
    text-align: right;
    font-size: 0;
}

.footer-social p {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    margin-top: 0px;
}


/* Footer social */

.social-btn {
    display: inline-block;
    margin-left: 25px;
    vertical-align: middle;
}

.social-btn-vk {
    width: 40px;
    height: 40px;
    background-image: url("../img/icons/ico-vk.png");
    background-repeat: no-repeat;
}

.social-btn-vk:hover {
    background-image: url("../img/icons/ico-vk-active.png");
}

.social-btn-fb {
    width: 40px;
    height: 40px;
    background-image: url("../img/icons/ico-fb.png");
    background-repeat: no-repeat;
}

.social-btn-fb:hover {
    background-image: url("../img/icons/ico-fb-active.png");
}


/* Buttons */

.btn {
    display: inline-block;
    padding: 15px;
    margin: 5px;
    font-size: 16px;
    line-height: 14px;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 999px;
}

.btn-blue {
    background: #00114a;
}

.btn-blue:hover {
    background: #d8e4f1;
    color: #00114a;
}

.btn-blue:active {
    background: #f5cc5d;
    color: #00114a;
}


/* Promo on home page */

.promo {
    position: relative;
    width: 450px;
}

.promo::after {
    content: "";
    position: absolute;
    top: -70px;
    left: 550px;
    width: 452px;
    height: 452px;
    background-image: url("../img/bg-promo.png");
    background-repeat: no-repeat;
}

.promo-title {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.promo p {
    margin: 0;
    margin-bottom: 35px;
    color: #404040;
    font-size: 18px;
    line-height: 24px;
}

.promo .btn {
    margin-top: 12px;
    width: 260px;
}


/*Forms*/

.get-info {
  position: relative;
  width: 30%;
  height: 30%;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 37px;
  margin-bottom: 10%;
}

.get-info .container {
    display: table;
    clear: both;
    content: "";
}

.get-info-form {
  margin: 0 auto;
  width: 500px;
  padding-top: 2%;
  font-weight: bold;
}

.get-info-form p {
    display: block;
    padding-bottom: 16px;
    width: 500px;
}

.get-info-form input {
    width: 500px;
    height: 30px;
}

.get-info-form .title {
    width: 90px;
    padding-right: 20px;
    vertical-align: top;
    text-align: right;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    font-family: Arial, sans-serif;
}

.get-info-instruction {
    display: block;
    padding-top: 80px;
    color: #404040;
    font-size: 18px;
    line-height: 24px;
    margin-top: 5px;
    font-family: Arial, sans-serif;
}

.border-bottom {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    border-color: #d1d5da;
}