.main-container{
    width: 1200px;
    min-height: 500px;
    margin: 0 auto;
    padding: 1px;
    background-color: #ffffff;
    border-radius: 37px;
    padding-top: 10px;
    margin-bottom: 30px;
}

.patient-form{
    margin-left: 5%;
    margin-right: 5%;
}

.profile-table {
  border-collapse: collapse;
  height: 100px;
  font-size: 120%;
}

.profile-table-td {
  text-decoration: bold;
  font-weight: bold;
  margin: 1%;
}

.list-patients{
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 15px;
}

.patients-table{
    border-collapse: collapse;
}

.patients-table td{
    padding: 10px;
    border: 3px solid #00114a;
    font-size: 18px;
}

.patients-table tr:nth-child(odd){
    background-color: white;
}

.patients-table tr:nth-child(even){
    background-color: #d9f4fa;
}

.patient-name{
    text-align:center;
    margin-top: -5%;
    text-decoration: underline;
}

.patient-headers{
    text-align:center;
    margin-top: 5%;
}

.button-many{
    margin-left: 37%;
    margin-right: 37%;
    text-align: center;
}

.table-ifo{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.button-position{
    text-align: center;
}

.questionnaire{
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

.create-que{
    margin-left: 25%;
    margin-right: 25%;

}

.que-td{
    font-size: 20px;
}

.que-td-1{
    border-bottom: 1px solid black;
}

.change-pat{
    margin-left: 40%;
    margin-right: 40%;
}

.decision{
    margin-left: 15%;
}

.import{
    text-align: center;
}

.input-menu{
    font-size: 16px;
    margin: 5px;
    text-align: center;
    line-height: 14px;
    padding: 15px;
    border: 2px solid black;
}
