{% extends 'base.html' %} {% block title %} Медкарта {{ patient.fullname }} {% endblock %} {% block content %}

<div class="container">
    <h2>Пациент - {{ patient.fullname }}</h2>

    <h3>Основная информация:</h3>
    <table>
        <tr>
            <th class="border-bottom" width="200px">Пол</th>
            <th class="border-bottom" width="200px">Дата рождения</th>
            <th class="border-bottom" width="200px">Цвет глаз</th>
            <th class="border-bottom" width="200px">Цвет волос</th>
        </tr>
        <tr>
            <td class="border-bottom">{{ patient.gender }}</td>
            <td class="border-bottom">{{ patient.birthday }}</td>
            <td class="border-bottom">{{ patient.eyes_col }}</td>
            <td class="border-bottom">{{ patient.hair_col }}</td>
        </tr>
    </table>

    <h3>Добавление анкеты пациента</h3>
    <form action="create-questionnaire" method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-blue">Сохранить</button>
    </form>

</div>

{% endblock %}