{% load static %}

<footer class="main-footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-social-promo">606103, г. Нижний Новгород,<br> ул. Львовская д. 1В<br>
      </div>
      <div class="copyright">Все права защищены © 2021</div>
      <div class="footer-social">
        <p>По всем вопросам:</p>
        <a href="" class="social-btn social-btn-vk">Вконтакте</a>
      </div>
    </div>
  </div>

  <div class="logos">
        <div class="logo-style">
            <a href="https://unisa.edu.au/">
                <img src="https://www.unisa.edu.au/globalassets/images/logos/logo-unisa-portrait-white.svg" width="150px" height="150px">
            </a>
        </div>

        <div class="logo-style">
            <a href="https://nnov.hse.ru/">
                <img src="https://nnov.hse.ru/images/main/hse_ru_logo.svg"  width="150px" height="150px">
            </a>
        </div>

        <div class="logo-style">
            <a href="https://pimunn.ru/">
                <img src="https://static.tildacdn.com/tild3161-3165-4437-b161-643234346337/logo-mini.svg" width="150px" height="150px">
            </a>
        </div>
  </div>
</footer>
