{% extends 'base.html' %} {% load static %} {% block title %} Медкарта {{ patient.fullname }} {% endblock %} {% block content %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/patients.css'%}" type="text/css">
{% endblock %}
<div class="main-container">
    <h2 class="patient-name">Пациент - {{ patient.fullname }}</h2>

    <h3 class="patient-headers">Основная информация:</h3>
    <div class="table-ifo">
        <table>
            <tr>
                <th class="border-bottom" width="200px">Пол</th>
                <th class="border-bottom" width="200px">Дата рождения</th>
                <th class="border-bottom" width="200px">Цвет глаз</th>
                <th class="border-bottom" width="200px">Цвет волос</th>
            </tr>
            <tr>
                <td class="border-bottom">{{ patient.gender }}</td>
                <td class="border-bottom">{{ patient.birthday }}</td>
                <td class="border-bottom">{{ patient.eyes_col }}</td>
                <td class="border-bottom">{{ patient.hair_col }}</td>
            </tr>
        </table>
    </div>

    <h2 class="patient-headers">Изменение данных пациента</h2>
    <form action="patient-update" method="post" class="change-pat">
        {% csrf_token %}
        <table class="profile-table">
            {% for field in form %}
            <tr>
                <td class="que-td que-td-1" > {{ field.label_tag }} </td>
                <td class="que-td"> {{ field }} </td>
            </tr>
            {% endfor %}
        </table>
        <div class="btn-save-2">
            <button type="submit" class="btn btn-blue">Сохранить</button>
        </div>
    </form>


</div>

{% endblock %}