{% extends 'base.html' %} {% load static %} {% block title %} Список пациентов {% endblock %} {% block content %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/patients.css'%}" type="text/css">
{% endblock %}
<div class="main-container">

    {% for group_for in request.user.groups.all %} {% if group_for.name == 'Operators' %}
    <div class="patient-form">
        <h2> Создать профиль нового пациента:</h2>
        <form action="{% url 'patients-detail' %}" method="POST">
            {% csrf_token %}

        <table class="profile-table">
            <tr>
            {% for field in form %}
                <td class="profile-table-td"> {{ field.label_tag }} </td>
                <td class="profile-table-td"> {{ field }} </td>
            {% endfor %}
            </tr>
        </table>

         <div class="button-position">
            <button type="submit" class="btn btn-blue">Сохранить</button>
         </div>
        </form>
    </div>

    {% endif %} {% endfor %}

    <div class="list-patients">
        <h2>Список пациентов:</h2>
        <table class="patients-table">
            {% for patient in patients %}
            <tr>
                <td>
                    <h4>{{ patient.fullname }}</h4>
                </td>
                <td>
                    {% for group_for in request.user.groups.all %} {% if group_for.name == 'Operators' %}
                    <a href="{% url 'medical-card' patient.id %}" class='btn btn-blue'>Изменить</a>
                    <a href="#" onclick="confirm_delete('{% url 'delete' patient.id %}');" class='btn btn-blue'>Удалить</a> {% elif group_for.name == 'Analysts' %}
                    <a href="{% url 'medical-card' patient.id %}" class='btn btn-blue'>Подробнее</a> {% endif %} {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="button-many">
        <a href="{% url 'export_patient' %}" class='btn btn-blue'>Экспорт Пациентов</a>
        <a href="{% url 'export_questionnaire' %}" class='btn btn-blue'>Экспорт Анкет</a>
        <form method="POST" action="{% url 'import_patient' %}" enctype="multipart/form-data"> {% csrf_token %}
    </form>
    </div>

    <div class="import">
        <input type="file" name="patient_file" class='input-menu'> <br>
        <button type="submit" class='btn btn-blue'>Импорт Пациентов</button>
    </div>
</div>

<script>
    function confirm_delete(url) {
        var r = confirm("Вы уверены, что хотите удалить выбранного пациента?");
        if (r == true) {
            window.location.href = url;
        }
    }
</script>

{% endblock %}