{% extends 'base.html' %} {% load static %} {% block title %} Медкарта {{ questionnaire.patient.fullname }} {% endblock %} {% block content %} {% block extrahead %}
<link rel="stylesheet" href="{% static 'css/patients.css'%}" type="text/css"> {% endblock %}
<div class="main-container">
    <h2 class="patient-name">Пациент - {{ questionnaire.patient.fullname }}</h2>

    <h3 class="patient-headers">Основная информация:</h3>
    <div class="table-ifo">
        <table>
            <tr>
                <th class="border-bottom" width="200px">Пол</th>
                <th class="border-bottom" width="200px">Дата рождения</th>
                <th class="border-bottom" width="200px">Цвет глаз</th>
                <th class="border-bottom" width="200px">Цвет волос</th>
            </tr>
            <tr>
                <td class="border-bottom">{{ questionnaire.patient.gender }}</td>
                <td class="border-bottom">{{ questionnaire.patient.birthday }}</td>
                <td class="border-bottom">{{ questionnaire.patient.eyes_col }}</td>
                <td class="border-bottom">{{ questionnaire.patient.hair_col }}</td>
            </tr>
        </table>
    </div>

    <h2 class="patient-headers">Изменение данных опросника</h2>
    <form action="questionnaire-update" method="post" enctype="multipart/form-data" class="change-pat">
        {% csrf_token %}
        <table class="profile-table">
            {% for field in form %}
            <tr>
                <td class="que-td que-td-1"> {{ field.label_tag }} </td>
                <td class="que-td"> {{ field }} </td>
            </tr>
            {% endfor %}
        </table>
        <div class="button-position">
            <button type="submit" class="btn btn-blue">Сохранить</button>
        </div>
    </form>


</div>

{% endblock %}